{% extends 'main.html' %}

{% load static %}

{% block content %}
    <h1 class="mt-5">Abbaye Saint-Joseph de Clairval</h1>
    <h4 class="mb-5 green">Statistiques</h4>

    <div class="d-flex flex-column align-items-center mb-5">
        <div class="col-8">
            <table class="table table-sm table-bordered">
                <tr>
                    <td class="font-weight-bold">Moines :</td>
                    <td class="text-center">{{ monks }}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Prêtres :</td>
                    <td class="text-center">{{ priests }}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Profès perpétuels :</td>
                    <td class="text-center">{{ perpetual }}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Profès temporaires :</td>
                    <td class="text-center">{{ tempo }}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Novices :</td>
                    <td class="text-center">{{ novices }}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Postulants :</td>
                    <td class="text-center">{{ postulants }}</td>
                </tr>
            </table>
        </div>

        <img src={% static 'img/histogram.svg' %} alt="Missing histogram" class="mb-3">
    </div>

    <table class="table table-sm table-bordered">
        <tr>
            <th class="col-1">Moine</th>
            <th class="col-1">Naissance</th>
            <th class="col-1">Entrée</th>
            <th class="col-1">Prise d'habit</th>
            <th class="col-1">Prof. temporaire</th>
            <th class="col-1">Prof. perpétuelle</th>
            <th class="col-1">Ordination</th>
            <th class="col-1"></th>
        </tr>
        {% for monk in list_of_monks %}
            <tr>
                <td>{{ monk }}</td>
                <td class="text-center">{{ monk.birth|date:'d/m/Y' }}</td>
                <td class="text-center">{{ monk.entry|date:'d/m/Y' }}</td>
                <td class="text-center">{{ monk.habit|date:'d/m/Y' }}</td>
                <td class="text-center">{{ monk.temporary_profession|date:'d/m/Y' }}</td>
                <td class="text-center">{{ monk.perpetual_profession|date:'d/m/Y' }}</td>
                <td class="text-center">{{ monk.ordination|date:'d/m/Y' }}</td>
                <td class="text-center"><a href={% url 'main:update' monk.pk %}>Modifier</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
